packages/
.vs/
TigerConnectAspWebSample/Bin/
TigerConnectAspNetWebApp/bin/
TigerConnectAspNetWebApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TigerConnectAspNetWebApp/obj/
TigerConnectDotNetConsoleApp/bin/
TigerConnectDotNetConsoleApp/obj/
TigerConnectDotNetWindowsService/bin/
TigerConnectDotNetWindowsService/obj/
